{% extends 'base.html' %} {% block content %}


{% if Ticker %}
  {{ Ticker }}
{% endif %}

{% if api %} 
  {% if api == "Error..." %} 
    There was an error with your ticker symbol or I am out of API requests for the day lol.
  {% else %} 
    {% if processed_api.outOfCalls %}
      <h1> I am out of API calls lol so heres IBM by default. </h1>
    {% endif %}
      <h1> {{ processed_api.companyname }} </h1>
      Current price: ${{ processed_api.price }}.
      <br>
      Open price: ${{ processed_api.open }}.
      <br>
      High price: ${{ processed_api.high }}.
      <br>
      Low price: ${{ processed_api.low }}.
      <br>
      Volume: {{ processed_api.volume }}.
      <br>
      Market cap: ${{ processed_api.marketcap }}.
  {% endif %} 

{% else %} 

{% endif %} 

{% endblock %}
